.footer {
    open-sans(bold);
    background: linear-gradient(to left, #fb3e38 0%, #ff8f30 100%);
}
    .footer__text {
        color: $text;
        text-align: center;
        font-size: 14px;
        open-sans(semibolditalic);
    }