.post__item {
    background $background-color;
    border: 1px solid $hover-color;
    width: 50%;
    border-radius 8px;
    margin: 0 auto;
    margin-bottom: 20px;
}
    .post__date {
        text-align: center;
    }
        .post__date-num {
            margin-bottom: 0;
            font-weight: normal;
        }
    .post__text {
        margin-left: 20px
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .post__photo {
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 400px;
        height: 400px;
    }
        .post__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            display: block;
        }